@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  src: url("../fonts/Montserrat-Italic.ttf") format("opentype");
}
